<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pansnap Studio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href="/assets/yellow-cam.png" type="image/x-icon">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
        <link rel="stylesheet" href="./styles/landing-page.css">

        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    </head>
    <body>
        <div class="go-top">
        </div>
        <script>
            $(function() {
                //Scroll event
                $(window).scroll(function() {
                    var scrolled = $(window).scrollTop();
                    if (scrolled > 200) $('.go-top').fadeIn('slow');
                    if (scrolled < 200) $('.go-top').fadeOut('slow');
                });
                //Click event
                $('.go-top').click(function() {
                    $("html, body").animate({
                        scrollTop: "0"
                    }, 500);
                });
            });
        </script>

        <!--  -->
        <div id="wrap">
            <nav>
                <div class="logo" id="home">
                    <a href="">
                        <img src="/assets/images/logo/Pansnap Studio Logo V2 Watermark.png" style="
					width: 80px;
					left: -5px;
					top: 0;
					padding: 0;
					margin: 5;
					">
                    </a>
                </div>
                <button type="button" class="btn-hamburger" data-action="nav-toggle">
                    <span> </span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="nav-menu">
                    <li class="active-home"><a href="">Home</a></li>
                    <li class="nav-item"><a href="./section-page/about.html" class="{% if request.path == about %} active {% endif %}">About</a></li>
                    <li class="nav-item"><a href="./section-page/service.html" class="{% if navbar == 'services'%} active {% endif %}">Services</a></li>
                    <li class="nav-item"><a href="" class="{% if navbar == 'hire-us'%} active {% endif %}">Hire-us</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" data-action="dropdown-toggle">Portfolio</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./section-page/outdoor.html" class="{% if navbar == 'portfolio'%} active {% endif %}">Outdoor Photos</a>
                            <a class="dropdown-item" href="" class="{% if navbar == 'studio-shoot'%} active {% endif %}">Indoor Photos</a>
                            <a class="dropdown-item" href="" class="{% if navbar == 'films'%} active {% endif %}">Films</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="./section-page/contact.html" class="">Contact</a></li>
                    <li class="nav-item"><a href="{% url 'notification'  %}"><span><i class='bx bxs-cart'></i></span> <span class="badge" style="color:white; background-color: red;font-size: 40px;"></span></a></li>
                </ul>
            </nav>

            <!-- Video element -->
            <video src="/assets/videos/Pansnap Studio Logo White BG (1920 × 1080 px).mp4" type="video/mp4" class="vid" loop style="width: 100% ; cursor: pointer;">
            </video>
            <script>
                // Targeting video element 
                let clip = document.querySelector(".vid")
                /* Applying mouseover event on video clip 
                and then we call play() function to play 
                the video when the mouse is over the video */
                clip.addEventListener("mouseover", function(e) {
                    clip.play();
                })
                /* Applying mouseout event on video clip 
                and then we call pause() function to stop 
                the video when the mouse is out the video */
                clip.addEventListener("mouseout", function(e) {
                    clip.pause();
                })
            </script>
            <div class="content container_home">
                <div class="content-wrapper" id="home" data-aos="fade-up">
                    <div class="content-home">
                        <h2>Welcome! <span style="color: #00bcd4;"></span></h2>
                        <p style="line-height: 35px;">We're so excited you're here. Feel free to explore our web-based photo and video site. Here, you may discover adorable high-quality service of photos and videos for hire. The perfect work approach can be difficult, dirty, and complicated at times. That's why we created Pansnap Studio - a place where people get work done, together. Our goal is to capture the special moment for you so that you can have wonderful memories to look back to. Of course, you might just enjoy a fun-filled look through the collection. We are glad to hear your thoughts about the pictures and videos on this site. You're in the right place. Let's create something beautiful, and uniquely yours.
                        </p>
                    </div>
                </div>
                <div class="bg-tagline">
                    
                        <div class="tagline">
                            <h1 class="heading">Grid<br>Gallery</h1>
                            <div class="container-gallery">
                                <div class="child-container">
                                    <img src="https://picsum.photos/100" alt="pic 1">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/200" alt="pic 2">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/300" alt="pic 3">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/400" alt="pic 4">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/500" alt="pic 5">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/600" alt="pic 6">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/150" alt="pic 7">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/250" alt="pic 8">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/350" alt="pic 9">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/450" alt="pic 10">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/550" alt="pic 11">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/650" alt="pic 12">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/110" alt="pic 13">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/210" alt="pic 14">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/310" alt="pic 15">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/410" alt="pic 16">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/510" alt="pic 17">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/610" alt="pic 18">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/125" alt="pic 19">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/225" alt="pic 20">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/325" alt="pic 21">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/425" alt="pic 22">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/525" alt="pic 23">
                                </div>
                                <div class="child-container">
                                    <img src="https://picsum.photos/625" alt="pic 24">
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            <section class="login_container">
                <div class="login_img" data-aos="fade-right">
                    <img src="/assets/images/login-bg.jpg">
                </div>
                <div class=login_content>
                    <div class="loginform" data-aos="fade-up">
                        <form method="POST" class="form-sign">
                            <h2>Sign up </h2>
                            <table>
                                <tr>
                                    <td>
                                        <div class="login_input">
                                            <span style="margin-left: 1px;">First Name</span>
                                            <input type="text" name="first_name" size="26" required style="width: 120%; margin-right: -5px; width:107%; margin-left: -2px;">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="login_input">
                                            <span style="margin-left:20px ;">Last Name</span>
                                            <input type="text" name="last_name" size="26" required style="margin-left: 15px; width: 93%;">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="login_input">
                                <span>Username</span>
                                <input type="text" name="username" size="26" required>
                            </div>
                            <div class="login_input">
                                <span>Email</span>
                                <input type="email" name="email" size="26" required>
                            </div>
                            <div class="login_input">
                                <span>Password</span>
                                <input type="password" name="password" size="26" required id="myInput">
                                <span><input type="checkbox" onclick="myFunction()"	></span>Show Password
                            </div>
                            <div class="login_input">
                                <span>Re-type Password</span>
                                <input type="password" name="password2" size="26" required id="myInput2">
                                <span><input type="checkbox" onclick="myFunction2()"></span>Show Password
                            </div>

                            <!-- <div class="remember">
				<label>
					<input type="checkbox" name=""> Remember Me
				</label>
			</div> -->
                            <div class="login_input" style="margin-top:40px;">
                                <input type="submit" value="Sign-up" name="signup">
                            </div>
                            <div class="login_input">
                                <p>Have an account?
                                    <a href="" style=" color: #3dcbfe; text-decoration: none;">Login</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    function myFunction() {
                        var x = document.getElementById("myInput");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                    function myFunction2() {
                        var x = document.getElementById("myInput2");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
            </section>
            <section class="contact-home" style="margin-top: 40px;">
                <div class="content-contact" data-aos="fade-up">
                    <center>
                        <h2>Contact Us</h2>
                    </center>
                    <p>We'd love to hear from you. Here's how you can reach us.</p>
                </div>
                <div class="container">
                    <div class="contactInfo">
                        <div class="boxes" data-aos="fade-right">
                            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>218 Macapatan,<br>Baranggay Balubad,<br>Bulakan,Bulacan,3017</p>
                            </div>
                        </div>
                        <div class="boxes" data-aos="fade-right">
                            <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>Smart: 0961-792-0778</p>
                            </div>
                        </div>
                        <div class="boxes" data-aos="fade-right">
                            <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>pansnapstudio26@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactForm" data-aos="fade-left">
                        <form method="POST">
                            <h2>Send Message</h2>
                            <div class="inputBox">
                                <input type="text" name="name" required="required">
                                <span>Full name</span>
                            </div>
                            <div class="inputBox">
                                <input type="email" name="email" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputBox">
                                <textarea required name="message"></textarea>
                                <span>Type your Message...</span>
                            </div>
                            <div class="inputBox">
                                <input type="submit" name="Send" style="margin-left: -2px;">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <!-- START LOADER HTML -->
        <div class="fullpage-loader">
            <div class="fullpage-loader__logo">

                <!-- this img tag pointing to an external image is here for an example of what not to do, read the page to understand why to use a base64 image -->

                <!-- 		<img src="https://cdn.shopify.com/s/files/1/0497/3073/files/logosmall_400x.png?v=1539650409" /> -->
                <img src="./assets/images/logo/pansnap_watermark.png" width="200" />
            </div>
        </div>

        <!-- END LOADER HTML -->
        <script>
            const loaderEl = document.getElementsByClassName('fullpage-loader')[0];
            document.addEventListener('readystatechange', (event) => {
                // const readyState = "interactive";
                const readyState = "complete";
                if (document.readyState == readyState) {
                    // when document ready add lass to fadeout loader
                    loaderEl.classList.add('fullpage-loader--invisible');
                    // when loader is invisible remove it from the DOM
                    setTimeout(() => {
                        loaderEl.parentNode.removeChild(loaderEl);
                    }, 2000)
                }
            });
        </script>
    </body>
    <script>
        let dropdownProfile = document.querySelector("[data-action='dropdown-toggle-profile']");
        let dropdown_profile = document.querySelector('.dropdown-profile');
        dropdownProfile.addEventListener('click', () => {
            if (dropdown_profile.classList.contains('show')) {
                dropdown_profile.classList.remove('show');
            } else {
                dropdown_profile.classList.add('show');
            }
        })
    </script>
    <script>
        let nav = document.querySelector('nav');
        let dropdown = nav.querySelector('.dropdown');
        let dropdownToggle = nav.querySelector("[data-action='dropdown-toggle']");
        let navToggle = nav.querySelector("[data-action='nav-toggle']");
        dropdownToggle.addEventListener('click', () => {
            if (dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
            } else {
                dropdown.classList.add('show');
            }
        })
        navToggle.addEventListener('click', () => {
            if (nav.classList.contains('opened')) {
                nav.classList.remove('opened');
            } else {
                nav.classList.add('opened');
            }
        })
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
        // You can also pass an optional settings object
        // below listed default settings
        AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 120, // offset (in px) from the original trigger point
            delay: 0, // values from 0 to 3000, with step 50ms
            duration: 1000, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: false, // whether animation should happen only once - while scrolling down
            mirror: false, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        });
    </script>

    <!-- JavaScript  Alertify-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <div class="title">
    </div>
    <div class="bottom">
        <div class="copyright">
            <p>Copyright &copy; 2024 Pansnap Studio</p>
        </div>
    </div>
</html>