

<link rel="stylesheet" href="/section-page/contact.css">
<link rel="stylesheet" href="/styles/landing-page.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<nav>
	<div class="logo" id="home">
		<a href="">
			<img src="/assets/images/logo/Pansnap Studio Logo V2 Watermark.png" style="
		width: 80px;
		left: -5px;
		top: 0;
		padding: 0;
		margin: 5;
		">
		</a>
	</div>
	<button type="button" class="btn-hamburger" data-action="nav-toggle">
		<span> </span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</button>
	<ul class="nav-menu">
		<li class="nav-item"><a href="/index.html">Home</a></li>
		<li class="nav-item"><a href="./section-page/about.html" class="{% if request.path == about %} active {% endif %}">About</a></li>
		<li class="nav-item"><a href="./service.html" class="{% if navbar == 'services'%} active {% endif %}">Services</a></li>
		<li class="nav-item"><a href="" class="{% if navbar == 'hire-us'%} active {% endif %}">Hire-us</a></li>
		<li class="nav-item dropdown">
			<a href="#" data-action="dropdown-toggle">Portfolio</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="./section-page/outdoor.html" class="{% if navbar == 'portfolio'%} active {% endif %}">Outdoor Photos</a>
				<a class="dropdown-item" href="" class="{% if navbar == 'studio-shoot'%} active {% endif %}">Indoor Photos</a>
				<a class="dropdown-item" href="" class="{% if navbar == 'films'%} active {% endif %}">Films</a>
			</div>
		</li>
		<li class="active-home"><a href="./section-page/contact.html" class="">Contact</a></li>
		<li class="nav-item"><a href="{% url 'notification'  %}"><span><i class='bx bxs-cart'></i></span> <span class="badge" style="color:white; background-color: red;font-size: 40px;"></span></a></li>
	</ul>
</nav>

<section class="contact" style="margin-top: 40px;">
		<div class="content-contact" data-aos="fade-up">
			<h2>Contact Us</h2>
			<p>We'd love to hear from you. Here's how you can reach us.</p>
		</div>
		<div class="container">
			<div class="contactInfo">
				<div class="boxes" data-aos="fade-right">
					<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Address</h3>
						<p>218 Macapatan,<br>Baranggay Balubad,<br>Bulakan,Bulacan,3017</p>
					</div>
	
				</div>
				<div class="boxes" data-aos="fade-right">
					<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Phone</h3>
						<p>Smart: 0961-792-0778</p>
					</div>
	
				</div>
				<div class="boxes" data-aos="fade-right">
					<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Email</h3>
						<p>pansnapstudio26@gmail.com</p>
					</div>
	
				</div>
			</div>
			<div class="contactForm" data-aos="fade-left">
				<form method="POST" action="">
					
			
					<h2>Send Message</h2>
					
					<div class="inputBox">
						<input type="text" name="name" required="required">
						<span>Full name</span>
					</div>
					
					<div class="inputBox">
						<input type="email" name="email" required="required">
						<span>Email</span>
					</div>
				
					<div class="inputBox">
						<textarea required="required" name="message"></textarea>
						<span>Type your Message...</span>
					</div>
					<div class="inputBox">
						<input type="submit" name="Send">
					</div>
				</form>
			</div>
		</div>
	
</section>


    <!-- MAP Location -->
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11230.187703267562!2d120.87129985463223!3d14.800592618083305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339653e512c3f539%3A0x7e49060fd3fd66bc!2sPansnap%20Studio!5e0!3m2!1sen!2sph!4v1664640254570!5m2!1sen!2sph" 
        width="100%" 
        height="500" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
