  .col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
.img-slider{
  position: relative;
  width: 500px;
  margin: 10px;
  height: 333px;
  border-radius: 5px;
  background: #f5f5f574;
  margin-left: -30px;
  z-index: 1;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 500px;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 25px;
  height: auto;
  margin: 10px;
  border-radius: 25%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #6eebf9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{

    width: 280px;
    padding: 20px;
    height:185px;
    margin:0 auto;
    background: transparent;
  }
  .btn{
    display: none;
  }
  .img-slider .slide img{
    width: 45%;
  }


  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  .col-text{
    margin-top: -500px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 280px;
    padding: 20px;
    height:185px;
    margin:0 auto;
    background: transparent;
  }
  .btn{
    display: none;
  }
  .img-slider .slide img{
    width: 45%;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
  .col-text{
    margin-top: -500px;
  }
}

@media (max-width: 420px){
  .img-slider{

    width: 280px;
    padding: 20px;
    height:185px;
    margin:70px auto;
    background: transparent;
  }
  .btn{
    display: none;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
  .col-text{
    margin-top: -500px;
  }
}    

    .img-slideri{
    position: relative;
    width: 500px;
    margin: 10px;
    height: 333px;
    border-radius: 5px;
    background: #f5f5f574;
    margin-left: -30px;
    z-index: 1;
  }
  
  .img-slideri .slidei{
    z-index: 1;
    position: absolute;
    width: 500px;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slideri .slidei.activei{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slideri .slidei img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  

  .img-slideri .navigationi{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slideri .navigationi .btni{
    background: rgba(255, 255, 255, 0.5);
    width: 25px;
    height: 15px;
    margin: 10px;
    border-radius: 25%;
    cursor: pointer;
    z-index: 1;
  }
  
  .img-slideri .navigationi .btni.activei{
    background: #6eebf9;
    box-shadow: 0 0 2px rgba(243, 7, 7, 0.5);
  }

  @media (max-width: 820px){
    .img-slideri{
  
      width: 280px;
      padding: 20px;
      height:185px;
      margin:0 auto;
      background: transparent;
    }
    .btni{
      display: none;
    }
    .img-slideri .slidei img{
      width: 45%;
    }
  
  

    .img-slideri .navigationi{
      bottom: 25px;
    }
  
    .img-slideri .navigationi .btni{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
    .col-text{
      margin-top: -500px;
    }
  }
  
  @media (max-width: 620px){
    .img-slideri{
      width: 280px;
      padding: 20px;
      height:185px;
      margin:0 auto;
      background: transparent;
    }
    .btni{
      display: none;
    }
    .img-slideri .slidei img{
      width: 45%;
    }
  
 
  
    .img-sliders .navigationi{
      bottom: 15px;
    }
  
    .img-slideri .navigationi .btni{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
    .col-text{
      margin-top: -500px;
    }
  }
  
  @media (max-width: 420px){
    .img-slideri{
  
      width: 280px;
      padding: 20px;
      height:185px;
      margin:70px auto;
      background: transparent;
    }
    .btni{
      display: none;
    }
  
  
  
    .img-sliders .navigationi{
      bottom: 10px;
    }
    .col-text{
      margin-top: -500px;
    }
  }    
    .img-sliderw{
    position: relative;
    width: 500px;
    margin: 10px;
    height: 333px;
    border-radius: 5px;
    background: #f5f5f574;
    margin-left: -30px;
    z-index: 1;
  }
  
  .img-sliderw .slidew{
    z-index: 1;
    position: absolute;
    width: 500px;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-sliderw .slidew.activew{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-sliderw .slidew img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  

  .img-sliderw .navigationw{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-sliderw .navigationw .btnw{
    background: rgba(255, 255, 255, 0.5);
    width: 25px;
    height: 15px;
    margin: 10px;
    border-radius: 25%;
    cursor: pointer;
    z-index: 1;
  }
  
  .img-sliderw .navigationw .btnw.activew{
    background: #6eebf9;
    box-shadow: 0 0 2px rgba(243, 7, 7, 0.5);
  }

  @media (max-width: 820px){
    .img-sliderw{
  
      width: 280px;
      padding: 20px;
      height:185px;
      margin:0 auto;
      background: transparent;
    }
    .btnw{
      display: none;
    }
    .img-sliderw .slidew img{
      width: 45%;
    }
  
  

    .img-sliderw .navigationw{
      bottom: 25px;
    }
  
    .img-sliderw .navigationw .btnw{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
    .col-text{
      margin-top: -500px;
    }
  }
  
  @media (max-width: 620px){
    .img-sliderw{
      width: 280px;
      padding: 20px;
      height:185px;
      margin:0 auto;
      background: transparent;
    }
    .btnw{
      display: none;
    }
    .img-sliderw .slidew img{
      width: 45%;
    }
  
 
  
    .img-sliderw .navigationw{
      bottom: 15px;
    }
  
    .img-sliderw .navigationw .btnw{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
    .col-text{
      margin-top: -500px;
    }
  }
  
  @media (max-width: 420px){
    .img-sliderw{
  
      width: 280px;
      padding: 20px;
      height:185px;
      margin:70px auto;
      background: transparent;
    }
    .btnw{
      display: none;
    }
  
  
  
    .img-sliderw .navigationw{
      bottom: 10px;
    }
    .col-text{
      margin-top: -500px;
    }
  }    
