/* Defaults & resets */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik&display=swap");

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    /* background: url(/assets/images/bg-home.png); */
    background-color: #ffffff;
}

html,
body {
    scroll-behavior: smooth;
}

/* scrollbarrr*/

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #a87641;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #a48e64;
}

h3 {
    font-family: "Rubik", sans-serif;
}

h2 {
    color: #a87641;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

h4 {
    color: #a87641;
    font-family: "Rubik", sans-serif;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
}

.bg-tagline {
    /* height: 700px; */
    background-color: #967758;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

div.content {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
}

div.content-wrapper {
    margin: auto;
    /* to center the element*/
    padding-top: 70px;
    padding-bottom: 70px;
    width: 1000px;
    max-width: 100%;
    border-bottom: hidden;
}

div.content-wrapper p {
    text-align: justify;
}

/* Banner */

/* Menu */

div.menu {
    width: 100%;
    background: #0e2c40;
    position: relative;
    top: -10px;
}

div.menu ul {
    width: 100%;
    margin: 0px 0px;
    position: relative;
    list-style: none;
    size: 10px;
    padding: 0;
}

div.menu ul li {
    display: inline-block;
}

div.menu ul li a {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    color: white;
}

div.menu ul li a:hover,
div.menu ul li {
    color: #360606;
}

/* Log In */

.login_container {
    margin-top: 150px;
    margin-left: 50px;
    position: relative;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

section .login_img {
    position: relative;
    width: 50%;
    height: 100%;
}

section .login_img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 600px;
    opacity: 50%;
}

section .login_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 600px;
    object-fit: cover;
}

section .login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-top: -50px;
}

section .login_content .loginform {
    width: 60%;
}

section .login_content .loginform h2 {
    color: #573b1f;
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

section .login_content .loginform .login_input {
    margin-bottom: 5px;
}

section .login_content .loginform .login_input p {
    width: 100%;
    font-size: 16px;
    color: #d89718;
}

section .login_content .loginform .login_input p a {
    color: #a87641;
    text-decoration: underline;
}

section .login_content .loginform .login_input span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #573b1f;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .login_content .loginform .login_input input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #a87641;
    font-size: 16px;
    letter-spacing: 1px;
    color: #3b3835;
    background: transparent;
    border-radius: 30px;
}

section .login_content .loginform .login_input input[type="submit"] {
    width: 50%;
    background: #d89718;
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .login_content .loginform .login_input input[type="submit"]:hover {
    background: #a87641;
}

section .remember {
    margin-bottom: 10px;
    color: #8393a3;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 768px) {
    section .login_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .login_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .login_content .loginform {
        width: 100%;
        opacity: 70%;
        margin: 50px;
    }

    section .login_content .loginform h3 {
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}

/* Footer */

div.bottom {
    background: #573b1f;
    margin-top: 50px;
}

div.bottom .copyright {
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.bottom .copyright p {
    text-align: center;
    color: white;
    margin-top: 20px;
}

/* navbar start */

nav {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    padding: 0 1.5em;
    background-color: #573b1f;
    font-family: "Montserrat", sans-serif;
}

nav .logo {
    font-size: 1.25em;
    line-height: 70px;
}

nav .nav-menu {
    position: absolute;
    right: 1.5em;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav .nav-item {
    display: inline-block;
}

nav .nav-item-profile {
    display: inline-block;
}

nav .nav-item-profile > a {
    display: inline-block;
    padding: 0 1.5em;
    line-height: 70px;
    color: #ede9e8;
    text-decoration: none;
}

nav .nav-item > a {
    display: inline-block;
    padding: 0 1.5em;
    line-height: 70px;
    color: #fff6e5;
    text-decoration: none;
}

nav .active-home {
    color: #d89718;
    display: inline-block;
    text-decoration: none;
    /* font-weight: bold; */
    color: #be5f00;
}

nav .active-home a {
    color: #d6a06d;
}

nav .active-home :hover {
    color: #ffffff;
    text-decoration: none;
}

nav .nav-item a:hover {
    color: #d89718;
}

nav .nav-item-profile a:active {
    color: #b36423;
}

nav .dropdown {
    position: relative;
}

nav .dropdown-profile {
    position: relative;
}

nav .dropdown-profile a::after {
    content: "";
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    border-top: 0.3em solid#edeae8;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

nav .dropdown a::after {
    content: "";
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    border-top: 0.3em solid#EDE9E8;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

nav .dropdown.show a::after {
    display: none;
}

nav .dropdown-profile.show a::after {
    display: none;
}

nav .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0.5em 0;
    margin-top: -0.5em;
    border: 1px solid #573b1fbb;
    border-radius: 0.5em;
    background-color: #f4f4f4;
}

nav .dropdown-menu-profile {
    width: 120px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0.5em 0;
    margin-top: -0.4em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    background-color: #ede9e8;
}

nav .dropdown.show .dropdown-menu {
    background-color: #573b1f;
    display: block;
}

nav .dropdown-profile.show .dropdown-menu-profile {
    background-color: #573b1f;
    display: block;
}

nav .dropdown-item:hover {
    background-color: #573b1f;
    color: #ede9e8;
}

nav .dropdown-item-profile:hover {
    background-color: #573b1f;
    color: #ffdf00;
}

nav .dropdown-item {
    display: block;
    padding: 0 1.5em;
    font-size: 0.875em;
    color: #cec3b9;
    line-height: 3;
    text-decoration: none;
}

nav .dropdown-item-profile {
    display: block;
    padding: 0 1.5em;
    font-size: 14px;
    color: #ede9e8;
    line-height: 3;
    text-decoration: none;
}

nav .btn-hamburger {
    display: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
}

nav .btn-hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #ede9e8;
    margin: 6px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: 0.5;
}

nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
}

nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
}

nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    nav .nav-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #0e2c40;
        transition: bottom 0.5s ease-in-out;
        overflow: hidden;
    }

    nav.opened .nav-menu {
        bottom: 0;
    }

    nav .nav-item > a {
        display: block;
    }

    nav .dropdown-menu {
        position: relative;
        top: 0;
        margin: 0 1.5em;
    }

    nav .btn-hamburger {
        display: block;
    }
}

/* NavBar End */

.container_home {
    position: relative;
    margin-top: 50px;
    padding: 5%;
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .content-wrapper {
        padding: 5px;
    }

    .content-home {
        padding: 20px;
    }
}

/*contact us */

.contact-home {
    position: relative;
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/assets/images/contactbg-cityscape.jpg);
    background-size: cover;
}

.contact .content-contact {
    max-width: 800px;
    text-align: center;
}

.content-contact h2 {
    font-weight: 500;
    color: #a87641;
}


.content-contact p {
    font-size: 20px;
    font-weight: 500;
    color: #4d4b4a;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.boxes {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    color: #573b1f;
}

.text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #635f5f;
    flex-direction: column;
    font-weight: 300;
}

.text h3 {
    font-weight: 500;
    color: #81776d;
}

.contactForm {
    border-radius: 30px;
    width: 40%;
    padding: 40px;
    background-color: rgba(255, 255, 204, 0.3);
    fill-opacity: 50%;
}

.contactForm h2 {
    font-size: 30px;
    color: #a56f1e;
    font-weight: 500;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    background-color: rgba(255, 255, 204, 0.1);
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
    color: #a87641;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 150px;
    background: #a87641;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin-left: 100px;
}
input[type="submit"] :hover {
    background: #360606;
    color: #c76d13;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .contact-home {
        padding: 50px;
    }

    .container-service {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-left: -110px;
        margin-bottom: 40px;
    }

    .container .contactInfo,
    .contactForm {
        width: 100%;
        min-width: 100%;
    }

    .contactForm .inputBox input[type="submit"] {
        width: 100px;
        margin-left: -2px;
    }
}

.go-top {
    position: fixed;
    bottom: 20%;
    right: 5%;
    padding: 20px;
    display: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    top: 90%;
}

.go-top:after {
    font-family: FontAwesome;
    content: "\f106";
    background-color: #fff6e5;
    padding: 10px 15px;
    color: #5c0202;
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    border-radius: 50%;
}

.active {
    color: violet;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

/* START LOADER CSS */

.fullpage-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #fff;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullpage-loader .fullpage-loader__logo {
    position: relative;
}

.fullpage-loader .fullpage-loader__logo:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
    animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
    background: rgba(255, 255, 255, 0.8);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
    /* IE6-9 */
}

@-webkit-keyframes shine {
    0% {
        transform: translateX(-100%) skew(-30deg);
    }

    100% {
        transform: translateX(200%) skew(-30deg);
    }
}

@keyframes shine {
    0% {
        transform: translateX(-100%) skew(-30deg);
    }

    100% {
        transform: translateX(200%) skew(-30deg);
    }
}

.fullpage-loader--invisible {
    opacity: 0;
}

/* END LOADER CSS */

/* video button */

/* .video-container {
    position: relative;
  }
  
  .overlay-button {
    position: relative;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #df9100;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .overlay-button :hover {
    color: #000000;
    background-color: #573b1f;
  } */

/* Tagline animation*/

.tagline {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.heading {
    font-family: "Montserrat", "Helvetica Neue";
    font-weight: bolder;
    color: #ffffff;
    padding-top: 160px;
    padding-left: 90px;
    font-size: 80px;
}

@keyframes move {
    from {
        transform: rotate(45deg) translate(-200px, -800px);
    }
    to {
        transform: rotate(45deg) translate(-200px, -1000px);
    }
}

.container-gallery {
    height: 30px;
    margin: 0px;
    right: 0px;
    top: 0px;
    justify-content: right;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    animation: move 2.5s linear infinite alternate;
}

.child-container {
    width: 170px;
    height: auto;
    border-radius: 5px;
    background-color: #b9b9b9;
    text-align: center;
}

.child-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/* _______________________________NEW SIGN IN / LOGIN FORM_____________________________________________ */

.newform{
	width: 500px;
	height: 600px;
	background:#f2f2f2;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 12px;

	/* border: 3px solid #eeeeee; */
}
.newform:hover {
    /* border: 2px solid #927e69; */
    transform: scale(1.);	
    box-shadow:  11px 11px 19px #d6d6d6,
				-11px -11px 19px #ffffff;
  }
  
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.newform label{
	color: #573b1f;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
    font-size: 50px;
	margin: 55px;
    padding-top: 35px;
	font-weight: bolder;
	cursor: pointer;
	transition: .5s ease-in-out;
    font-family: "Montserrat", sans-serif;
}
.newform input{
	width: 80%;
	height: 45px;
	/* background: #e0dede; */
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #a87641;
	outline: none;
	border-radius: 30px;
}
.newform button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #a87641;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
}
.newform button:hover{
	background: #b87c44;
}
.login{
	height: 520px;
	background: #fffff0;
	border-radius: 50% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #a87641;
	transform: scale(.5);
}

#chk:checked ~ .login{
	transform: translateY(-590px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.form img {
    position: absolute;
    height: 1px;
    top: 3px;
    right: 6px;
    cursor: pointer;
}

